#tablaMensajes{
margin-top:5px;
margin-left:220px;
padding-top:30px;
width:80%;
border-top:2px solid;
border-radius:12px;
border-color:#6C0;

margin-top:5px;
}

.mensajes{}

td{
width:70px;

overflow:hidden;
text-overflow:ellipsis;


}


#tablamensajes table{padding-top:-250px;}

.elipsis{
white-space:nowrap; 
width:150px;
overflow:hidden;
text-overflow:ellipsis;

}

